<section class="list">
    <% if( restaurants.length === 0 ) { %>
        <p>Er zijn geen restaurants beschikbaar</p>
      <% } else { %>
          <% restaurants.forEach((restaurant) => { %>
            <a href="/detail/<%= restaurant.id %>" class="list-item">
                <img src="images/<%= restaurant.image %>">
                <div class="name"><%= restaurant.name %> <sup><%= '*'.repeat(restaurant.stars) %></sup></div>
                <div class="city"><%= restaurant.city %></div>
            </a>
          <% }) %>
      <% } %>
</section>